
.grid-container {               /* Estilo para el contenedor principal que muestra los pokemones en una cuadricula*/ 
    display: grid;              /* Utiliza el sistema de diseño en cuadricula para organizar las tarjetas de pokemones */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));   /* Define el numero de columnas en la cuadricula*/
    gap: 20px;                                                     /* Espacio entre las tarjetas de pokemones */
    padding: 20px;                                                 /* Espacio interno alrededor del contenedor */
}

.card {                         /* Estilo para cada tarjeta individual que representa a un pokemon */
    border: 1px solid #4558ff;      /* Borde ligero alrededor de cada tarjeta */
    border-radius: 8px;            /* Bordes redondeados para un diseño mas suave */
    text-align: center;            /* Centra el contenido dentro de la tarjeta */
    padding: 15px;                 /* Espacio interno dentro de cada tarjeta */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);       /* Sombra ligera para dar profundidad a las tarjetas */
}

.card img {                        /* Estilo para las imagenes de los pokemones dentro de las tarjetas */
    width: 130px;                  /* Ancho fijo para las imagenes de los pokemones */
    height: 130px;                /* Alto fijo para las imagenes de los pokemones */
}